html{
    text-align: center;
    background-color: #f1f1f1;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Custom styles for click counter */
  #clickCount {
    font-weight: bold;
    font-size: 2em;
    color: #4CAF50;
    margin-bottom: 20px;
  }
  